{% extends 'main/layout.html' %}

{% block title %} Изменение {% endblock %}

{% block content %}
    <p>Изменение</p>
    <div class="table-container">
        <table>
          {{ table }}
        </table>
    </div>
{% endblock %}

{% block form %}
    <form class="form-container" method="post">
        <p class="form-header">Изменить</p>
        <div class="form-fields">
            {% csrf_token %}
            {{ form }}
        </div>
        <button class="form-button" type="submit">Изменить</button>
    </form>
{% endblock %}

{% block tablelist %}
    {{ tablelistGen }}
{% endblock%}