{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--{% bootstrap_css %}-->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"  type="text/css">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-title">Шапка</div>
            <div class="tabs">
                <button>Просмотр</button>
                <button>Изменение</button>
                <button>Добавление</button>
                <button>Удаление</button>
            </div>
        </header>

        <div class="sidebar">
            <div class="sidebar-title">Список таблиц</div>
            <ul class="sidebar-list">
                <li>Таблица 1</li>
                <li>Таблица 2</li>
                <li>Таблица ...</li>
            </ul>
        </div>

        <div class="content">
            {% block content %}
            {% endblock%}
        </div>
    </div>
</body>
</html>